<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :page_title %>Influx Club</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to root_path do %>
        <%= image_tag "main-logo.svg" %>
        <% end %>
      </h1>

      <nav>
        <%= link_to "Add a Category", new_category_path %>

      </nav>
    </header>

<main>
    <%= yield %>
</main>

    <footer>
      Copyright 2018 Influx Club
    </footer>
  </body>
</html>
